<div class="container">
    <h1>Home</h1>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Explicabo magni quia voluptates laudantium. Nihil odit ullam accusamus quidem, quod quisquam assumenda ea corrupti saepe provident dignissimos a sed ipsa accusantium?</p>
</div>